.rectangle {
    position: absolute;
    width: 1219px;
    height: 84px;
    left: 0px;
    top: 0px;
    background: #007765;
}
#vector {
    position: absolute;
    left: 5%;
    right: 0%;
    top: 20%;
    bottom: -0.09%;

    /*background: #FFFFFF;*/
    background-image: url("vector.png");
    color: #FFFFFF;
    background-repeat: no-repeat;
}
#theProblem {
    position: absolute;
    width: 129px;
    height: 29px;
    left: 741px;
    top: 10px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;


    color: #FFFFFF;
}
.container {
    /*box-sizing: border-box;*/
    /*max-width: 1219px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-left: 55px;*/
    /*padding-right: 55px;*/

    position: absolute;
    width: 1219px;
    height: 403px;
    left: 0px;
    top: 84px;

    background: url(image.png);
}

.hero {
    /*padding-top: 128px;*/
    /*padding-bottom: 128px;*/
    /*background-image: url("image.png");*/
    /*background-size: cover;*/
    /*background-position: center center;*/
}

.hero__message {
    /*font-family: Roboto, sans-serif;*/
    /*font-style: italic;*/
    /*font-weight: 500;*/
    /*font-size: 48px;*/
    /*line-height: 56px;*/
    /*text-align: center;*/
    /*color: #fff;*/

    display: flex;
    justify-content: center;
    align-self: center;

    width: 1219px;
    height: 83px;
    left: 0px;
    top: 244px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

    color: #FFFFFF;
}